<h2 mat-dialog-title>Ajouté un Voyage Organisé</h2>
<mat-dialog-content>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="registerForm">
    <ng-template matStepLabel>Création Voyage Organisé</ng-template>
    <form [formGroup]="registerForm">
      <div class="controles-container">
        <!--<input matInput formControlName="id" [hidden]="true">-->
        <mat-form-field class="col-12">
          <input matInput formControlName="title" placeholder="Title">
          <mat-error *ngIf="registerForm.controls['title'].errors">* Champs Obligatoire.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12" >
          <textarea matInput formControlName="description" placeholder="description"></textarea>
          <mat-error *ngIf="registerForm.controls['description'].errors">* Champs Obligatoire.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input matInput formControlName="destination" placeholder="destination">
          <mat-error *ngIf="registerForm.controls['destination'].errors">* Champs Obligatoire.</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
          <mat-label>Selectionné une Catégories</mat-label>
          <mat-select  formControlName="Categories" multiple>
            <mat-option *ngFor="let Categorie of CategoriesList" [value]="Categorie">{{Categorie.label}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls['Categories'].errors">* Champs Obligatoire.</mat-error>
        </mat-form-field>
      </div>
     <div class="button-row">
        <button mat-raised-button matStepperNext color="primary" type="button" (click)="onSubmit()" [disabled]="!registerForm.valid" >Suivant</button>
        <button mat-raised-button color="warn" class="bclose" (click)="onClose()">Close</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <ng-template matStepLabel>Affectation des Photos</ng-template>
    <div>
      <form [formGroup]="secondFormGroup">
        <input (change)="onFileChange($event)" type="file" id="fileUpload" multiple>
        <button mat-raised-button matStepperNext color="primary" (click)="onFileSelected($event)" class="btn btn-success spacer">Suivant</button>

        <!--<button mat-button matStepperNext (click)="onFileSelected($event)">Next</button>-->
      </form>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminer</ng-template>
    <div>
      <i class='fas fa-check-circle ok'></i>
      <span class="bclose">Voyage Ajouté Avec sucess.</span><br />
      <button mat-raised-button color="primary" class="bclose" (click)="valider()">Valider</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</mat-dialog-content>

