.iconColor {
  color: #1c7430;
}

.style {
  color: #721c24;
}
.style2 {
  color: #3b5998;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.style3 {
  color: #3b5998;
  font-size: 10px;
}
td.bigger, th.bigger {
  width: 35%;
}
.blockC{
  color: rgb(246,103,106);
}
.activeC{
  color: #1c7430;
}
.editC{
  color: rgb(77,100,138);
}
.deleteC {
  color: rgb(242,94,60);
}
.addColor {
  color: #1c7430;
}
.zoom:hover {
  transform: scale(1.1);
}
.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: middle;
}
.hoverBack {
  color: rgb(77,100,138);
}
