mat-slider {
  width: 50%;
}

.blockC{
  color: rgb(246,103,106);
}
.activeC{
  color: #1c7430;
}
.editC{
  color: rgb(77,100,138);
}
.deleteC {
  color: rgb(242,94,60);
}
.bclose {
  margin-left: 2%;
}
.colorStar {
  color: goldenrod;
}
