<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste des Promotions</h4>
        </div>
        <div class="card-body">

          <button mat-raised-button (click)="addNew()">
            <mat-icon>add</mat-icon>
            Ajouter Promotion
          </button>
          <button mat-raised-button (click)="affectPromo()" style="float:right">
            <mat-icon>add</mat-icon>
            Affecter Promotion
          </button>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher...">
          </mat-form-field>
          <div>

            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="id" matSortDirection="desc" matSortDisableClear>

                <!-- Nom Promotion Column -->
                  <ng-container matColumnDef="label">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
                      <td mat-cell *matCellDef="let row"> {{row.label}}</td>
                  </ng-container>

                <!-- Pourcentage Column -->
                <ng-container matColumnDef="pourcentage">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Pourcentage</th>
                  <td mat-cell *matCellDef="let row"> {{row.pourcentage}} %</td>
                </ng-container>


                <!-- Date Debut Promo Column -->
                <ng-container matColumnDef="Date Debut">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Debut</th>
                  <td mat-cell *matCellDef="let row"> {{row.dateBegin | date}}</td>
                </ng-container>

                  <!-- Date Debut Promo Column -->
                  <ng-container matColumnDef="Date Fin">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Fin</th>
                      <td mat-cell *matCellDef="let row"> {{row.dateEnd | date}}</td>
                  </ng-container>


                  <!-- Visibility Promo Column -->
                  <ng-container matColumnDef="visible">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Visibiliter</th>
                      <td mat-cell *matCellDef="let row" >
                          <mat-icon *ngIf="row.visible=== false" class="blockC" matTooltip="Promotion Archiver">visibility_off</mat-icon>
                          <mat-icon *ngIf="row.visible === true" class="activeC" matTooltip="Promotion Desarchiver" >visibility</mat-icon>
                      </td>

                  </ng-container>

                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-button [matMenuTriggerFor]="menu" (click)="showDateNow(row)">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu>
                      <button mat-menu-item (click)="detailClick(row)">
                        <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
                        <span class="edit" routerLink="">Détail</span>
                      </button>
                      <button mat-menu-item (click)="editClick(row)" matTooltip="Modifier" *ngIf="row.usingEtat == false || dateParseRow < dateParseNow">
                        <mat-icon class="edit" class="editC" >edit</mat-icon>
                        <span class="edit" routerLink="">Modifier</span>
                      </button>
                      <button mat-menu-item  (click)="deleteClick(row)" matTooltip="Supprimer" *ngIf="row.usingEtat == false || dateParseRow < dateParseNow">
                        <mat-icon class="delete" class="deleteC" >delete</mat-icon>
                        <span class="delete">Supprimer</span>
                      </button>
                      <button mat-menu-item (click)="archivage(row)"  matTooltip="Archiver/Desarchiver" *ngIf="row.usingEtat == false">
                        <mat-icon class="block" aria-label="Example icon-button with a heart icon" class="blockC" >block</mat-icon>
                        <span class="block" routerLink="">Archiver/Desarchiver</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
