.bclose {
  margin-left: 2%;
}
.tag{
  //text-decoration: underline rgb(77,100,138);
  color: rgb(77,100,138) ;
  margin-left: 10px;
  margin-right: 10px;
}
.card-title{
  text-align: center;
  color: rgb(77,100,138) ;
}
.margin {
  margin-top: 2%;
}
